<% if (theme.twikoo && theme.twikoo.envId) { %>
  <div id="twikoo"></div>
  <!-- lightGallery -->
  <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/lightgallery/2.7.1/css/lightgallery.css">
  <script src="https://cdn.staticfile.org/lightgallery/2.7.1/lightgallery.min.js"></script> -->
  <script type="text/javascript">
    Fluid.utils.loadComments('#comments', function() {
      Fluid.utils.createScript('<%= url_join(theme.static_prefix.twikoo, 'twikoo.all.min.js') %>', function() {
        var options = Object.assign(
          <%- JSON.stringify(theme.twikoo || {}) %>,
          {
            el: '#twikoo',
            path: '<%= theme.twikoo.path %>',
            onCommentLoaded: function() {
              var imgSelector = '#twikoo .tk-content img:not(.tk-owo-emotion)';
              Fluid.plugins.imageCaption(imgSelector);
              Fluid.plugins.fancyBox(imgSelector);
              // lightGallery
              /* var commentContents = document.getElementsByClassName('tk-content');
              for (var i = 0; i < commentContents.length; i++) {
                var commentItem = commentContents[i];
                var imgEls = commentItem.getElementsByTagName('img');
                if (imgEls.length > 0) {
                  for (var j = 0; j < imgEls.length; j++) {
                    var imgEl = imgEls[j];
                    var aEl = document.createElement('a');
                    aEl.setAttribute('class', 'tk-lg-link');
                    aEl.setAttribute('href', imgEl.getAttribute('src'));
                    aEl.setAttribute('data-src', imgEl.getAttribute('src'));
                    aEl.appendChild(imgEl.cloneNode(false));
                    imgEl.parentNode.insertBefore(aEl, imgEl.nextSibling);
                    imgEl.remove();
                  }
                  lightGallery(commentItem, {
                    selector: '.tk-lg-link',
                    share: false
                  });
                }
              } */
            }
          }
        )
        twikoo.init(options)
      });
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
<% } %>
